{% extends "app/base.html" %} {% block "content" %}
<h1>Login</h1>
<form method="post">
	{% csrf_token %} {% for field in form %}
	<div class="fieldWrapper mb-3">
		{% if field.errors %} {% for error in field.errors %}
		<script>
			const messages = document.getElementById("messages-list");
			messages.innerHTML += `
<div class="alert alert-danger alert-dismissible" role="alert" >
{{ error }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
`;
		</script>
		{% endfor %} {% endif %} {{ field.label_tag }} {{ field }}
		<p class="help">{{ field.help_text|safe }}</p>
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
